﻿@model Exception

@{ 
    ViewBag.Title = "Oops!";
}

<h1>You've Got Error!</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Status Code</th>
        <td>@HttpContext.Current.Response.StatusCode</td>
    </tr>
    <tr>
        <th>Status Description</th>
        <td>@HttpContext.Current.Response.StatusDescription</td>
    </tr>
    <tr>
        <th>Error Message</th>
        <td><pre>@Model.Message</pre></td>
    </tr>
</table>

<p class="alert alert-info">Check the logs for more detail at ~/App_Data/Logs/ folder.</p>