﻿
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Web Tester", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tests <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("ObjectTemplaterTest", "Home")">Object Templater Test</a></li>
                        <li><a href="@Url.Action("PartialViewTest", "Home")">Partial View Test</a></li>
                        <li><a href="@Url.Action("FormModelTest", "Home")">Form Model Test</a></li>
                        <li><a href="@Url.Action("RenderSectionTest", "Home")">Render Section Test</a></li>
                        <li><a href="@Url.Action("WebLoggerExceptionTest", "Home")">Web Logger Exception Test</a></li>
                        <li><a href="@Url.Action("IpFilterCheck", "Home")">Check IP Filter</a></li>
                        <li><a href="@Url.Action("ThemedRazorViewEngineTest", "Home")">Themed Razor View Engine Test</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>