﻿@model Tuple<int, string>

<div class="panel panel-default">
    <div class="panel-heading">
        This is a sample partial view rendering a tuple of int and string.
    </div>
    <div class="panel-body">
        <ul>
            <li>Int: @Model.Item1</li>
            <li>String: @Model.Item2</li>
        </ul>
    </div>
</div>