﻿@using TemplateSectionRenderer

<div id="test-section-block"></div>

@using (Html.Section("testSectionHead")) {
    <style type="text/css">
        #test-section-block {
            color: blue;
        }
    </style>
}

@using (Html.Section("testSectionFoot")) {
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $("#test-section-block").text("TemplateSectionRenderer success!!");
            }, 3000);
        });
    </script>
}