﻿@model float

<div class="form-group">
    @Html.LabelFor(m => m)
    <input type="text" class="form-control" id="@Html.IdFor(m => m)" name="@Html.NameFor(m => m)" value="@Html.ValueFor(m => m)" />
    <span class="help-block text-danger">@Html.ValidationMessageFor(m => m)</span>
</div>