﻿@using WebTester.Models
@using ObjectRenderer

@model TestForm

@using (Html.BeginForm("FormModelTest", "Home", FormMethod.Post, new { @class = "form" })) {
    <table class="table table-striped">
        <tr>
            <th>Test Form Common Data</th>
            <th>Test Form Child Data</th>
        </tr>
        <tr>
            <td>
                @Html.ObjectRenderingFor(m => m.SomeString, true, "form-field")
                @Html.ObjectRenderingFor(m => m.SomeNullableInt, true, "form-field")
                @Html.ObjectRenderingFor(m => m.SomeDateTime, true, "form-field")
                @Html.ObjectRenderingFor(m => m.SomeListOfString, true, "form-field")
                @Html.ObjectRenderingFor(m => m.SomeDictionaryOfStringInt, true, "form-field")
            </td>
            <td>
                @Html.ObjectRenderingFor(m => m.SomeTestFormChild, true, "form-field")
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
}