﻿@using WebTester.Models
@using ObjectRenderer

@model TestForm

<table class="table table-striped">
    <tr>
        <td>@Html.LabelFor(m => m.SomeString)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeString)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeNullableInt)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeNullableInt)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeDateTime)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeDateTime)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeString)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeString)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeListOfString)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeListOfString)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeDictionaryOfStringInt)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeDictionaryOfStringInt)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeTestFormChild)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeTestFormChild)</td>
    </tr>
</table>

@section scripts {
    <script type="text/javascript">I_AM_HERE = function (name) { console.log(name + " WAS HERE"); }</script>
}