﻿@model IDictionary<string, int>

<div class="form-group">
    @Html.LabelFor(m => m)
    @foreach (var k in Model.Keys) {
        <div>
            <strong>@k</strong>
            <input type="text" class="form-control" id="@Html.IdFor(m => m[k])" name="@Html.NameFor(m => m[k])" value="@Html.ValueFor(m => m[k])" />
        </div>
    }
    <span class="help-block text-danger">@Html.ValidationMessageFor(m => m)</span>
</div>