﻿@using WebTester.Models
@using ObjectRenderer

@model TestForm

@{
    ViewBag.Title = "Form Model Test";
    var detachedModel = ViewBag.DetachedModel as TestFormChild;
}

<h1>Form Model Test</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        View
    </div>
    <div class="panel-body">
        @Html.ObjectRenderingFor(m => m)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Edit
    </div>
    <div class="panel-body">
        @Html.ObjectRenderingFor(m => m, true, "edit")
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        View model that's not attached to the view (not the view's model)
    </div>
    <div class="panel-body">
        @Html.ObjectRenderingFor(detachedModel, m => m)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        View model that's not attached to the view (another one)
    </div>
    <div class="panel-body">
        @Html.ObjectRenderingFor(detachedModel, m => m, true)
    </div>
</div>
