﻿@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Playing with Object</h1>
    <p>Let's see what we've got!</p>
    <p><a class="btn btn-primary btn-lg" href="https://bitbucket.org/jarollz/object-templater-dotnet" role="button">Learn more</a></p>
    <small><strong>Note:</strong> access the menu at the top to access tests and functions.</small>
</div>