﻿@using WebTester.Models
@using ObjectTemplater.Services

@{
    ViewBag.Title = "Object Templater Test";

    var defaultTemplater = ViewBag.DefaultTemplater as TemplaterService;
    var testTemplater1 = ViewBag.TestTemplater1 as TemplaterService;
    var testTemplater2 = ViewBag.TestTemplater2 as TemplaterService;
    var templaters = ViewBag.Templaters as TemplaterService[];

    var testObjects = ViewBag.TestObjects as IEnumerable<object>;
}

<h1>Object Templater Test</h1>

<h2>Theme Configurations</h2>

<div class="panel panel-default">
    <div class="panel-heading">Valid for All Templaters</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Version</th>
                <th>Alternatives</th>
            </tr>
            @foreach (var themeConfig in defaultTemplater.Config.GetAllThemeConfigurations()) {
                <tr>
                    <td>@themeConfig.Name</td>
                    <td>@themeConfig.DisplayName</td>
                    <td>@themeConfig.Description</td>
                    <td>@themeConfig.Author</td>
                    <td>@themeConfig.Version</td>
                    <td>
                        <ol>
                            @foreach (var altThemeName in themeConfig.Alternatives) {
                                <li>@altThemeName</li>
                            }
                        </ol>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<h2>All Possible Template File Paths For a Type</h2>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#" data-aptfp="defaultTemplater">Default Templater</a></li>
    <li role="presentation"><a href="#" data-aptfp="testTemplater1">Test Templater 1</a></li>
    <li role="presentation"><a href="#" data-aptfp="testTemplater2">Test Templater 2</a></li>
</ul>

<div id="aptfp-defaultTemplater" class="aptfp">
    <div class="panel panel-default">
        <div class="panel-heading">Theme: <strong>@defaultTemplater.Config.Theme</strong></div>
    </div>
    @foreach (var tobj in testObjects) {
        <div class="panel panel-default">
            <div class="panel-heading">ToString: @tobj.ToString(), Type: @tobj.GetType().FullName</div>
            <div class="panel-body">
                <ol>
                    @foreach (var tfp in defaultTemplater.GetAllPossibleTemplateFilePaths(tobj)) {
                        <li>@tfp.Replace(defaultTemplater.Config.TemplateDirectory, "")</li>
                    }
                </ol>
            </div>
        </div>
    }
</div>

<div id="aptfp-testTemplater1" class="aptfp">
    <div class="panel panel-default">
        <div class="panel-heading">Theme: <strong>@testTemplater1.Config.Theme</strong></div>
    </div>
    @foreach (var tobj in testObjects) {
        <div class="panel panel-default">
            <div class="panel-heading">ToString: @tobj.ToString(), Type: @tobj.GetType().FullName</div>
            <div class="panel-body">
                <ol>
                    @foreach (var tfp in testTemplater1.GetAllPossibleTemplateFilePaths(tobj)) {
                        <li>@tfp.Replace(testTemplater1.Config.TemplateDirectory, "")</li>
                    }
                </ol>
            </div>
        </div>
    }
</div>

<div id="aptfp-testTemplater2" class="aptfp">
    <div class="panel panel-default">
        <div class="panel-heading">Theme: <strong>@testTemplater2.Config.Theme</strong></div>
    </div>
    @foreach (var tobj in testObjects) {
        <div class="panel panel-default">
            <div class="panel-heading">ToString: @tobj.ToString(), Type: @tobj.GetType().FullName</div>
            <div class="panel-body">
                <ol>
                    @foreach (var tfp in testTemplater2.GetAllPossibleTemplateFilePaths(tobj)) {
                        <li>@tfp.Replace(testTemplater2.Config.TemplateDirectory, "")</li>
                    }
                </ol>
            </div>
        </div>
    }
</div>

@section styles {
    <style type="text/css">
        #aptfp-testTemplater1 {
            display: none;
        }

        #aptfp-testTemplater2 {
            display: none;
        }

        .aptfp ol li {
            font-family: monospace;
            font-size: 0.8em;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("a[data-aptfp]").click(function (e) {
                e.preventDefault();

                var lnk = $(this);
                $("div.aptfp").hide();
                $("div.aptfp#aptfp-" + lnk.attr("data-aptfp")).show();

                lnk.closest("ul.nav.nav-tabs").find("li[role='presentation']").removeClass("active");
                lnk.closest("li[role='presentation']").addClass("active");
            });
        });
    </script>
}