﻿@{
    ViewBag.Title = "Render Section Test";
}

<h1>Render Section Test</h1>

<p>
    You should see some blue text appearing after about 3 seconds below.
</p>

@Html.Partial("~/Views/_Partials/_TestSection.cshtml")

