﻿@using WebTester.Models
@using ObjectRenderer

@model TestFormChild

<table class="table table-striped">
    <tr>
        <td>@Html.LabelFor(m => m.SomeFloat)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeFloat)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeNullableDateTime)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeNullableDateTime)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.SomeListOfInt)</td>
        <td>@Html.ObjectRenderingFor(m => m.SomeListOfInt)</td>
    </tr>
</table>