﻿@model ICollection<string>

@{ 
    var mdlData = Model.ToArray();
}

<div class="form-group">
    @Html.LabelFor(m => m)
    @for (var i = 0; i < mdlData.Length; i++) {
        <div>
            @(i + 1).
            <input type="text" class="form-control" id="@(Html.IdFor(m => m))[@i]" name="@(Html.NameFor(m => m))[@i]" value="@mdlData[i]" />
        </div>
    }
    <span class="help-block text-danger">@Html.ValidationMessageFor(m => m)</span>
</div>